/Samples_Dynamic_Library/build/
/Samples_CMake/multi_executable_file/build/
/Samples_Cplusplus/build/
/Samples_Multi_thread/build/
/Samples_CMake/special_usage/build_android/
/Samples_CMake/special_usage/build_linux/
/Samples_C/weak_and_strong_symbol/build/
/Samples_Shell/tmp/
/Samples_AWK/*.out
/Samples_AWK/*.o
/Samples_STL_Implementation/build/
/Samples_CMake/complex_usage/build/
/Samples_CMake/complex_usage/install/
/Samples_CMake/complex_usage/api/build/
/Samples_CMake/complex_usage/api_install/
/Samples_C/wrap_symbol/build/
/Samples_Conan/build/
/Samples_Hook/*/*.out
/Samples_Hook/*/*.so
/Samples_CMake/messy_usage/build/
